body{
  background-color: #eee !important;
}

.list-group-item:hover {
  background-color: #eee;
}

.container-list {
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 100px;
}

.container-list .list-group {
  padding: initial;
}

.container-list li {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container-list img {
  padding-bottom: 20px;
}

.container-list h3 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  text-align: center;
}

.container-list span {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

#do {
  background-color: #ADD8E6;
}

#dont {
  background-color: #FFCCCB;
}

.white-space {
  height: 100px;
}
